header{
margin: 50px;
background-color: rgb(210, 182, 238);
text-size-adjust: 85px;
justify-content: center;
}



body{



background-color: rgb(233, 170, 248);
    color: rgb(32, 29, 34);
}
    section{
background-color: rgb(229, 206, 252);
margin: 50px;
display: block;
padding: left 20px; ;
border-color: rgb(169, 174, 236);

    }