header{
margin: 50px;
background-color: rgb(210, 182, 238);
text-size-adjust: 85px;
justify-content: center;
border:solid 3px rgb(133, 29, 122)
padding 20px
}



body{



background-color: rgb(233, 170, 248);
    color: rgb(32, 29, 34);
}
    section{
background-color: #E010A9;
margin: 50px;
display: block;
padding: left 20px; ;
border-color: rgb(20, 33, 223);

    }